@tailwind base;
@tailwind components;
@tailwind utilities;

.embla {
  overflow: hidden;
  width: 100%;
}

.embla__container {
  display: flex;
}

.embla__slide {
  min-width: 100%;
  position: relative;
}